@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@font-face {
	font-family: 'CircularStd';
	src: url('assets/font/circular-std.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	font-family: 'CircularStd', sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../img/background/auth_background.png') no-repeat center center fixed;
	background-size: cover;
	scroll-behavior: smooth;
}

header {
	background: rgba(51, 51, 51, 0.10);
	padding: 10px;
}

header nav {
	background: transparent;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	padding: 5px;
}

header nav a.logo {
	display: inline-block;
}

header nav a.logo img {
	display: block;
	width: 130px;
	height: auto;
}

.logo {
	margin-right: auto;
}

.login-btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #3498db;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.login-btn:hover {
	background-color: #2980b9;
}

.login {
	margin-left: auto;
}

.main-content {
	text-align: center;
	padding: 10px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 86vh;
	position: relative;
}

.text-content {
	text-align: left;
	margin-right: 20px;
}

.image-content img {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.main-content h1 {
	font-size: 3em;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: #fff;
}

.main-content p {
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: #fff;
}

/* Footer Styles */
footer {
	background: rgba(51, 51, 51, 0.7);
	color: #fff;
	text-align: center;
	padding: 21px;
}

.footer-content {
	margin: 0 auto;
}

.footer-content p {
	margin: 0;
	font-size: 0.9em;
}


/* Hamburger Menu Styles */
#toggle-menu {
	display: none;
	cursor: pointer;
	font-size: 1.1em;
	position: absolute;
	top: 22px;
	right: 10px;
	color: #fff;
}

#mobile-navbar nav {
	position: relative;
}

/* Konten About Us */
.header h3 {
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	position: relative;
	top: 20px;
	font-family: 'Montserrat';
}

.header h4 {
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	position: relative;
	top: 20px;
	font-family: 'Montserrat';
	margin-bottom: 40px;
}

.header h2 {
    font-size: 2.5rem;
    display: flex;
	justify-content: center;
	position: relative;
	top: 20px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 40px;
}

.cards {
	padding: 0px;
}

.card {
	box-shadow: 10px 10px 5px 0px rgba(117, 117, 117, 0.75);
}

.profile img {
	border-radius: 100%;
	width: 100%;
	height: auto;
}

.box p {
	font-family: montserrat;
}

/* Animasi */
.container {
	opacity: 0;
	filter: blur(5px);
	transform: translateY(-40%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

.card {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
	display: flex;
}

.card:nth-child(2) {
	transition-delay: 100ms;
}

.card:nth-child(3) {
	transition-delay: 300ms;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

@media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}

@media (max-width: 450px) {
	.box {
		flex-direction: column;
	}

	.box h4 {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media (max-width: 780px) {
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
	}

	header nav {
		flex-direction: column;
	}

	#toggle-menu {
		display: block;
		text-align: right;
	}

	header nav a {
		width: 100%;
	}

	header nav a.logo {
		display: block;
		text-align: center;
	}

	header nav a.logo,
	header nav a.login {
		display: block;
		margin: 10px 0;
	}

	header nav a.close-menu {
		display: block;
		background-color: #333;
		color: #fff;
		padding: 10px;
		border-radius: 5px;
		text-align: center;
		margin-top: 10px;
	}

	header nav.menu-opened a {
		display: block;
		text-align: center;
	}

	.wrapper {
		flex-grow: 1;
	}

	.main-content {
		flex-direction: column-reverse;
	}

	.image-content img {
		width: 90%;
		max-width: 400px;
		height: auto;
	}

	.main-content h1 {
		text-align: center;
		margin-left: 24px;
		margin-top: 30px;
		font-size: 1.5rem;
	}

	.main-content p {
		text-align: center;
		font-size: auto;
		margin-left: 24px;
		font-size: 1rem;
	}

	footer {
		margin-top: auto;
	}

	html,
	body {
		overflow-x: hidden;
	}

	/* Konten About Us */
	.header h3 {
		font-size: 2rem;
	}

	.cards {
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	.card {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media (max-width: 860px) {
	box {
		width: 50%;
		margin-bottom: 20px;
	}

	.container {
		flex-direction: column;
		opacity: 0;
		filter: blur(5px);
		transform: translateX(-30%);
		transition: all 1s;
	}

	.show {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}

	@media(prefers-reduced-motion) {
		.hidden {
			transition: none;
		}
	}
}